<ion-view title="Activity">
<ion-content class="padding">
  <h4><center><b>[1st Grade - 5th Grade] - Perot Museum</b></center></h4>
	<div class="row">
		<div class="col col-50"><img class="about_img" src="img/act_1.jpg"></div>
		<div class="col col-50"><img class="about_img" src="img/act_2.jpg"></div>
  </div>
  <div class="card">
  <div class="item item-text-wrap history_color">
  <p>The Perot Museum of Nature and Science located in Victory Park, near Downtown Dallas is said to be a "world of wonder" by The Dallas Morning News. Passing the test of school children, inspiring curiosity in all ages and boasting as a living science lesson, this new Museum opened its doors to the public on December 1, 2012. The Perot Museum exposes our children to a world of ideas and concepts in science, math and technology, all within one spectacular location. The Perot Museum is a place where families can learn together and individuals can take a break from their daily routines to ponder the vast mysteries of science. Visitors can wander, either to get lost or to find their way, as they discover something new and fascinating.
  </div>
  </div>
  
  
  
  </ion-content>
</ion-view>
