<ion-view title="Activity">
<ion-content class="padding">
	<h4><center><b>[6th Grade - 12th Grade] - Trinity Adventure Park& Southern Cross Ranch</b></center></h4>
	   <div class="row">
		<div class="col col-50"><img class="about_img" src="img/act_3.png"></div>
		<div class="col col-50"><img class="about_img" src="img/act_4.jpg"></div>
  </div>
  <p>In 7 wooded acres at The Southern Cross Ranch is an aerial forest ropes park consisting of more than 60 platforms installed in the trees and connected by various configurations of cable, wood and rope to form bridges, ladders and zip lines. Groups of bridges link together to form separate courses. Even though each course has zip lines, you will need to climb to get to there. There is much more fun than just zip lining! There are 6 courses in total for ages six—adult. Each course has varying difficulty level ranging from beginner to expert. Safety comes first and the fun and excitement will come naturally.
  <br/><br/>Trinity Forest Adventure Park is all about active participation as there are no motorized rides in the park. The courses are designed for everyone to enjoy, and designated as Yellow, Green, Blue and Black, similar to ski trails. As the levels become more difficult, the bridges become less stable under your feet requiring more balance, agility, focus and arm strength. Your time in the park is not a heart pumping activity and you do not have to be a bodybuilder to make it through the courses. Ages 6 to teens to adults to seniors can find their comfort zone and seek greater challenges. There is no one correct way of crossing each element. We leave it up to you to figure out the most efficient way of getting from platform to platform.


  </ion-content>
</ion-view>
