<ion-view title="[College]">
<ion-content class="padding">
	<h4><center><b>Group Dynamics</b></center></h4>
	  <div class="row">
		<div class="col col-33"><img class="about_img" src="img/act_5.jpg"></div>
		<div class="col col-33"><img class="about_img" src="img/act_6.jpg"></div>
		<div class="col col-33"><img class="about_img" src="img/act_7.jpg"></div>
  </div>
  <div class="card">
  <div class="item item-text-wrap history_color">
  <b><font size=2><p>A Team Building Center Like No Other
 <br>Along with offering experiences that cannot be duplicated anywhere else, Group Dynamix offers a unique facility for small and large events and meetings. Our 17,600 sq. ft. facility is the perfect setting for public, corporate and non-profit organizations to host events such as workshops, seminars, meetings, receptions, parties, dinners, and other activities and programs. Our patrons have the opportunity of renting one of our two event spaces or the entire facility. They also have the option to include a team building session as part of their event. Table, chairs, and AV equipment are also available if needed.
	</font></div>
	</div>
  </ion-content>
</ion-view>
