<ion-view title="Activity">
<ion-content class="padding">
<h4><center><b>[Seniors 55+] - Dallas Ni મુલાકાત:</b></center></h4><br/>
	<h4><center><b>1 - Fort Worth Stockyards</b></center></h4>
	 <div class="row">
		<div class="col col-50"><img class="about_img" src="img/act_8.png"></div>
		<div class="col col-50"><img class="about_img" src="img/act_9.jpg"></div>
	</div>
	<p>There's no place in Texas like Fort Worth's Stockyards Station! Located in the heart of the Fort Worth Stockyards, Stockyards Station exemplifies Texas by providing an exciting blend of old and new with Historic Walking Tours that visit the Texas Trail of Fame, The Texas Cowboy Hall of Fame and more, over 25 unique shops including an art gallery, sports store and great restaurants that offer anything from ribs to enchiladas.
<br/>
	<h4><center><b>2 - Japanese Botanic Garden</b></center></h4>
	 <div class="row">
		<div class="col col-50"><img class="about_img" src="img/act_10.jpg"></div>
		<div class="col col-50"><img class="about_img" src="img/act_11.jpg"></div>
	</div>
	<p>Enter a world of mystery and enchantment in the Japanese Garden. Serpentine paths entice you to surrender your senses and discover a new treasure at every turn. Feed thousands of exotic Imperial Carp (Koi) that beseech your attention; some will accept a gentle caress in exchange for a few pellets of food. Stone, earth, leaf, and water become one in this 7-acre land of wonder. 
	
	<h4><center><b>3 - Dallas Downtown</b></center></h4>
	 <div class="row">
		<div class="col col-50"><img class="about_img" src="img/act_12.png"></div>
		<div class="col col-50"><img class="about_img" src="img/act_13.jpg"></div>
	</div>
	<p>The Downtown Dallas skyline is a popular sightseeing attraction, as it is home to several landmark skyscrapers, the city's art district, and the Deep Ellum nightclub and entertainment district. The Dallas skyline is made distinctive by the ball-shaped Reunion observation tower. Many sightseeing tours destinations include the Sixth Floor Museum, which is dedicated to the tragic death of President John F. Kennedy, Pioneer Plaza, Dallas honors its cowboy past with a bronze sculpture of a cattle drive at Pioneer Plaza downtown, West End where street performers and merchants line the streets day and night. 
	</ion-content>
</ion-view>
