

<ion-view title="SPCS History">
<ion-content class="padding">	
<div>

 
 <ion-slide-box does-continue="true" auto-play="true" show-pager="false">
  <ion-slide>
    <div class="box blue"><img class="spcs_img" src="img/s1.jpg"></div>
  </ion-slide>
  <ion-slide>
    <div class="box yellow"><img class="spcs_img" src="img/s2.jpg"></div>
  </ion-slide>
  <ion-slide>
    <div class="box pink"><img class="spcs_img" src="img/s3.jpg"></div>
  </ion-slide>
  <ion-slide>
    <div class="box pink"><img class="spcs_img" src="img/s4.jpg"></div>
  </ion-slide>
</ion-slide-box>

<div class="card">
  <div class="item item-text-wrap history_color">  
		<font color="#000" size=2><p><b> I would like to express my heartfelt thanks to all SPCS members, convention team, and leaders of SPCS for making this convention one of the best. The GA chapter's "EKTA" was the heart and basis for the success of this convention, along with unconditional support from all the other chapters. I greatly appreciate all the volunteers, participant and attendees, and especially SPCS's future "youth group". I am so proud and happy to have such a unity and team within SPCS.  I also greatly appreciate every international guest, speakers, and participant without whom we would not have been able to make this convention an "international convention".
		<br/><br/>
		The very important message I would like to share with all of you is that If I had missed this opportunity to volunteer for SPCS, then I would have never discovered the tremendous amount of hidden talent, strength, and spirit of volunteering there is within our Samaj and especially within the GA chapter. A second and last message is that no task is impossible if there is strong unity, team work, constant and honest communication, low profile leadership, and unconditional dedication from volunteers.
		</p></font>
  </div>
</div>
 </ion-content>
</ion-view>
