<ion-view title="Steering Committee">
<ion-content class="padding">
     <div ng-app="myApp" ng-controller="CommitteCtrl">
	 <center>
	<table>

	<tbody>
	<tr>			
			<td class="advisory_head"><h4><font color="#0095bd" size=2><b>Name</b></font></h4></td>				
			<td class="advisory_head"><h4><font color="#0095bd" size=2><b>Email</b></font></h4></td>
		</tr>
		<tr ng-repeat="x in names">
			<td class="advisory">{{ x.Name }}</td>
			<td class="advisory"> <a ng-href="mailto: {{x.Email}} ">{{ x.Email }}</a></td>
		</tr>
  </tbody>
</table>
</center>
</div>
  </ion-content>
</ion-view>
