<ion-view title="Volunteer Name">
<ion-content class="padding">
     <div ng-app="myApp">
	

	<div class="card"  ng-controller="DecoCtrl">
			<div class="item item-text-wrap mayu">
				<center><b><font color="red" size=2>Decoration & Stage</font></b></center>
			</div>
			<div class="row b_color">	
					
				<table>				
					<tbody>	
						<center><tr><td><font size=1><b>Chair Person: </b><font size=1 color="#0095bd"><b>Rita Sutaria</b></font></font></td></tr></center>
						<tr>
						<center>
							<td><font color="red" size=1>Name</font></td>
							<td><font color="red" size=1>Phone</font></td></center>
						</tr>
						<tr ng-repeat="x in names">
							<td ><font color="#0095bd" size=1><b> {{ x.Name }}</b></font></td>
							<td ><font size=1><a ng-href="tel: {{x.Phone}} ">{{ x.Phone }}</a></font></td>							
						</tr>
					</tbody>				
				</table>			
			</div>
		</div>
		
		
		<div class="card"  ng-controller="DirCtrl">
			<div class="item item-text-wrap mayu">
				<center><b><font color="red" size=2>Directory & Souvenir</font></b></center>
			</div>
			<div class="row b_color">
			<center>			
				<table>
					<tbody>	
					<tr><td><font size=1><b>Chair Person: </b><font size=1 color="#0095bd"><b>Bharat Gajera</b></font></font></td></tr>
					
						<tr>
							<td><font color="red" size=1>Name</font></td>
							<td><font color="red" size=1>Phone</font></td>
						</tr>
						<tr ng-repeat="x in names">
							<td ><font color="#0095bd" size=1><b> {{ x.Name }}</b></font></td>
							<td ><font size=1><a ng-href="tel: {{x.Phone}} ">{{ x.Phone }}</a></font></td>							
						</tr>
					</tbody>
				</table>
			</center>
			</div>
		</div>
		
		<div class="card"  ng-controller="SafCtrl">
			<div class="item item-text-wrap mayu">
				<center><b><font color="red" size=2>Facility Safety & Transportation</font></b></center>
			</div>
			<div class="row b_color">
			<center>
				<table>
					<tbody>					
						<tr>
							<td><font color="red" size=1>Name</font></td>
							<td><font color="red" size=1>Phone</font></td>
						</tr>
						<tr ng-repeat="x in names">
							<td ><font color="#0095bd" size=1><b> {{ x.Name }}</b></font></td>
							<td ><font size=1><a ng-href="tel: {{x.Phone}} ">{{ x.Phone }}</a></font></td>							
						</tr>
					</tbody>
				</table>
			</center>
			</div>
		</div>
	
	
	<div class="card"  ng-controller="CoCtrl">
			<div class="item item-text-wrap mayu">
				<center><b><font color="red" size=2>Food & Service</font></b></center>
			</div>
			<div class="row b_color">
			<center>
				<table>
					<tbody>	
                   <tr><td><font size=1><b>Chair Person: </b><font size=1 color="#0095bd"><b>Jayesh Babariya</b></font></font></td></tr>					
						<tr>
							<td><font color="red" size=1>Name</font></td>
							<td><font color="red" size=1>Phone</font></td>
						</tr>
						<tr ng-repeat="x in names">
							<td ><font color="#0095bd" size=1><b> {{ x.Name }}</b></font></td>
							<td ><font size=1><a ng-href="tel: {{x.Phone}} ">{{ x.Phone }}</a></font></td>							
						</tr>
					</tbody>
				</table>
			</center>
			</div>
		</div>
		
		<div class="card"  ng-controller="GenCtrl">
			<div class="item item-text-wrap mayu">
				<center><b><font color="red" size=2>General Coordinator</font></b></center>
			</div>
			<div class="row b_color">
			<center>
				<table>
					<tbody>	
                   		<tr>
							<td><font color="red" size=1>Name</font></td>
							<td><font color="red" size=1>Phone</font></td>
						</tr>
						<tr ng-repeat="x in names">
							<td ><font color="#0095bd" size=1><b> {{ x.Name }}</b></font></td>
							<td ><font size=1><a ng-href="tel: {{x.Phone}} ">{{ x.Phone }}</a></font></td>							
						</tr>
					</tbody>
				</table>
			</center>
			</div>
		</div>
		
		<div class="card"  ng-controller="HealthCtrl">
			<div class="item item-text-wrap mayu">
				<center><b><font color="red" size=2>Health & Emergency</font></b></center>
			</div>
			<div class="row b_color">
			<center>
				<table>
					<tbody>	
                    <tr><td><font size=1><b>Chair Person: </b><font size=1 color="#0095bd"><b>Dr. Mayur Satani</b></font></font></td></tr>					
						<tr>
							<td><font color="red" size=1>Name</font></td>
							<td><font color="red" size=1>Phone</font></td>
						</tr>
						<tr ng-repeat="x in names">
							<td ><font color="#0095bd" size=1><b> {{ x.Name }}</b></font></td>
							<td ><font size=1><a ng-href="tel: {{x.Phone}} ">{{ x.Phone }}</a></font></td>							
						</tr>
					</tbody>
				</table>
			</center>
			</div>
		</div>
		
		<div class="card"  ng-controller="HosCtrl">
			<div class="item item-text-wrap mayu">
				<center><b><font color="red" size=2>Hospitality & Guest Services</font></b></center>
			</div>
			<div class="row b_color">
			<center>
				<table>
					<tbody>	
                    <tr><td><font size=1><b>Chair Person: </b><font size=1 color="#0095bd"><b>Manoj Sutaria</b></font></font></td></tr>					
						<tr>
							<td><font color="red" size=1>Name</font></td>
							<td><font color="red" size=1>Phone</font></td>
						</tr>
						<tr ng-repeat="x in names">
							<td ><font color="#0095bd" size=1><b> {{ x.Name }}</b></font></td>
							<td ><font size=1><a ng-href="tel: {{x.Phone}} ">{{ x.Phone }}</a></font></td>							
						</tr>
					</tbody>
				</table>
			</center>
			</div>
		</div>
		
		<div class="card"  ng-controller="KidsCtrl">
			<div class="item item-text-wrap mayu">
				<center><b><font color="red" size=2>Kid's Program/Women</font></b></center>
			</div>
			<div class="row b_color">
			<center>
				<table>
					<tbody>	
					 <tr><td><font size=1><b>Chair Person: </b><font size=1 color="#0095bd"><b>Kiran Patel</b></font></font></td></tr>					
					
                    	<tr>
							<td><font color="red" size=1>Name</font></td>
							<td><font color="red" size=1>Phone</font></td>
						</tr>
						<tr ng-repeat="x in names">
							<td ><font color="#0095bd" size=1><b> {{ x.Name }}</b></font></td>
							<td ><font size=1><a ng-href="tel: {{x.Phone}} ">{{ x.Phone }}</a></font></td>							
						</tr>
					</tbody>
				</table>
			</center>
			</div>
		</div>
		
		<div class="card"  ng-controller="OutCtrl">
			<div class="item item-text-wrap mayu">
				<center><b><font color="red" size=2>Outing Event</font></b></center>
			</div>
			<div class="row b_color">
			<center>
				<table>
					<tbody>	
                    <tr><td><font size=1><b>Chair Person: </b><font size=1 color="#0095bd"><b>Avani Kakadia</b></font></font></td></tr>					
						<tr>
							<td><font color="red" size=1>Name</font></td>
							<td><font color="red" size=1>Phone</font></td>
						</tr>
						<tr ng-repeat="x in names">
							<td ><font color="#0095bd" size=1><b> {{ x.Name }}</b></font></td>
							<td ><font size=1><a ng-href="tel: {{x.Phone}} ">{{ x.Phone }}</a></font></td>							
						</tr>
					</tbody>
				</table>
			</center>
			</div>
		</div>
		
		<div class="card"  ng-controller="ProgCtrl">
			<div class="item item-text-wrap mayu">
				<center><b><font color="red" size=2>Program Development & Entertainmnent</font></b></center>
			</div>
			<div class="row b_color">
			<center>
				<table>
					<tbody>	
                     <tr><td><font size=1><b>Chair Person: </b><font size=1 color="#0095bd"><b>Kavita Sutaria, Mukesh Patel, Kiran Patel, Hansa Gadhia, Piyush Ghelani</b></font></font></td></tr>					
						<tr>
							<td><font color="red" size=1>Name</font></td>
							<td><font color="red" size=1>Phone</font></td>
						</tr>
						<tr ng-repeat="x in names">
							<td ><font color="#0095bd" size=1><b> {{ x.Name }}</b></font></td>
							<td ><font size=1><a ng-href="tel: {{x.Phone}} ">{{ x.Phone }}</a></font></td>							
						</tr>
					</tbody>
				</table>
			</center>
			</div>
		</div>
	
		<div class="card"  ng-controller="RelCtrl">
			<div class="item item-text-wrap mayu">
				<center><b><font color="red" size=2>Public Relation</font></b></center>
			</div>
			<div class="row b_color">
			<center>
				<table>
					<tbody>	
                    <tr><td><font size=1><b>Chair Person: </b><font size=1 color="#0095bd"><b>Tushar Savaliya, Sanjay Malani, Piyush Ghelani</b></font></font></td></tr>					
						<tr>
							<td><font color="red" size=1>Name</font></td>
							<td><font color="red" size=1>Phone</font></td>
						</tr>
						<tr ng-repeat="x in names">
							<td ><font color="#0095bd" size=1><b> {{ x.Name }}</b></font></td>
							<td ><font size=1><a ng-href="tel: {{x.Phone}} ">{{ x.Phone }}</a></font></td>							
						</tr>
					</tbody>
				</table>
			</center>
			</div>
		</div>
	
	<div class="card"  ng-controller="LostCtrl">
			<div class="item item-text-wrap mayu">
				<center><b><font color="red" size=2>Registration & Lost Found</font></b></center>
			</div>
			<div class="row b_color">
			<center>
				<table>
					<tbody>	
                     <tr><td><font size=1><b>Chair Person: </b><font size=1 color="#0095bd"><b>Mayur Ranolia</b></font></font></td></tr>					
					<tr>
							<td><font color="red" size=1>Name</font></td>
							<td><font color="red" size=1>Phone</font></td>
						</tr>
						<tr ng-repeat="x in names">
							<td ><font color="#0095bd" size=1><b> {{ x.Name }}</b></font></td>
							<td ><font size=1><a ng-href="tel: {{x.Phone}} ">{{ x.Phone }}</a></font></td>							
						</tr>
					</tbody>
				</table>
			</center>
			</div>
		</div>
		
		<div class="card"  ng-controller="SenCtrl">
			<div class="item item-text-wrap mayu">
				<center><b><font color="red" size=2>Senior Citizen</font></b></center>
			</div>
			<div class="row b_color">
			<center>
				<table>
					<tbody>	
					<tr><td><font size=1><b>Chair Person: </b><font size=1 color="#0095bd"><b>Ashokbhai Rupani</b></font></font></td></tr>					
					
                    	<tr>
							<td><font color="red" size=1>Name</font></td>
							<td><font color="red" size=1>Phone</font></td>
						</tr>
						<tr ng-repeat="x in names">
							<td ><font color="#0095bd" size=1><b> {{ x.Name }}</b></font></td>
							<td ><font size=1><a ng-href="tel: {{x.Phone}} ">{{ x.Phone }}</a></font></td>							
						</tr>
					</tbody>
				</table>
			</center>
			</div>
		</div>
		
		<div class="card"  ng-controller="SponserCtrl">
			<div class="item item-text-wrap mayu">
				<center><b><font color="red" size=2>Sponsorship, Advertisement & Fund Raisin</font></b></center>
			</div>
			<div class="row b_color">
			<center>
				<table>
					<tbody>	
					 <tr><td><font size=1><b>Chair Person: </b><font size=1 color="#0095bd"><b>Haresh Bhungalia, Jasmat Sutaria, Dhirubhai Babaria</b></font></font></td></tr>					
					
                    	<tr>
							<td><font color="red" size=1>Name</font></td>
							<td><font color="red" size=1>Phone</font></td>
						</tr>
						<tr ng-repeat="x in names">
							<td ><font color="#0095bd" size=1><b> {{ x.Name }}</b></font></td>
							<td ><font size=1><a ng-href="tel: {{x.Phone}} ">{{ x.Phone }}</a></font></td>							
						</tr>
					</tbody>
				</table>
			</center>
			</div>
		</div>
		<div class="card"  ng-controller="TransCtrl">
			<div class="item item-text-wrap mayu">
				<center><b><font color="red" size=2>Transportation</font></b></center>
			</div>
			<div class="row b_color">
			<center>
				<table>
					<tbody>	
					 <tr><td><font size=1><b>Chair Person: </b><font size=1 color="#0095bd"><b></b></font></font></td></tr>					
					
                    	<tr>
							<td><font color="red" size=1>Name</font></td>
							<td><font color="red" size=1>Phone</font></td>
						</tr>
						<tr ng-repeat="x in names">
							<td ><font color="#0095bd" size=1><b> {{ x.Name }}</b></font></td>
							<td ><font size=1><a ng-href="tel: {{x.Phone}} ">{{ x.Phone }}</a></font></td>							
						</tr>
					</tbody>
				</table>
			</center>
			</div>
		</div>
		
		<div class="card"  ng-controller="YouthCtrl">
			<div class="item item-text-wrap mayu">
				<center><b><font color="red" size=2>Youth Forum</font></b></center>
			</div>
			<div class="row b_color">
			<center>
				<table>
					<tbody>	
                   <tr><td><font size=1><b>Chair Person: </b><font size=1 color="#0095bd"><b>Nilam Gajera</b></font></font></td></tr>					
						<tr>
							<td><font color="red" size=1>Name</font></td>
							<td><font color="red" size=1>Phone</font></td>
						</tr>
						<tr ng-repeat="x in names">
							<td ><font color="#0095bd" size=1><b> {{ x.Name }}</b></font></td>
							<td ><font size=1><a ng-href="tel: {{x.Phone}} ">{{ x.Phone }}</a></font></td>							
						</tr>
					</tbody>
				</table>
			</center>
			</div>
		</div>
	
	<div class="card"  ng-controller="PhotoCtrl">
			<div class="item item-text-wrap mayu">
				<center><b><font color="red" size=2>A/V & Photography</font></b></center>
			</div>
			<div class="row b_color">
			<center>
				<table>
					<tbody>	
                     <tr><td><font size=1><b>Chair Person: </b><font size=1 color="#0095bd"><b>Prashant Gajera</b></font></font></td></tr>					
									
						<tr>
							<td><font color="red" size=1>Name</font></td>
							<td><font color="red" size=1>Phone</font></td>
						</tr>
						<tr ng-repeat="x in names">
							<td ><font color="#0095bd" size=1><b> {{ x.Name }}</b></font></td>
							<td ><font size=1><a ng-href="tel: {{x.Phone}} ">{{ x.Phone }}</a></font></td>							
						</tr>
					</tbody>
				</table>
			</center>
			</div>
		</div>
	
	<div class="card"  ng-controller="BudgetCtrl">
			<div class="item item-text-wrap mayu">
				<center><b><font color="red" size=2>Budget & Finance</font></b></center>
			</div>
			<div class="row b_color">
			<center>
				<table>
					<tbody>	
                     <tr><td><font size=1><b>Chair Person: </b><font size=1 color="#0095bd"><b>Jaysukh Sabhaya, Sanjay Malani, Piyush Ghelani</b></font></font></td></tr>					
									
						<tr>
							<td><font color="red" size=1>Name</font></td>
							<td><font color="red" size=1>Phone</font></td>
						</tr>
						<tr ng-repeat="x in names">
							<td ><font color="#0095bd" size=1><b> {{ x.Name }}</b></font></td>
							<td ><font size=1><a ng-href="tel: {{x.Phone}} ">{{ x.Phone }}</a></font></td>							
						</tr>
					</tbody>
				</table>
			</center>
			</div>
		</div>
	
	<div class="card"  ng-controller="WomenCtrl">
			<div class="item item-text-wrap mayu">
				<center><b><font color="red" size=2>Women Forum</font></b></center>
			</div>
			<div class="row b_color">
			<center>
				<table>
					<tbody>	
                   <tr><td><font size=1><b>Chair Person: </b><font size=1 color="#0095bd"><b></b></font></font></td></tr>					
						<tr>
							<td><font color="red" size=1>Name</font></td>
							<td><font color="red" size=1>Phone</font></td>
						</tr>
						<tr ng-repeat="x in names">
							<td ><font color="#0095bd" size=1><b> {{ x.Name }}</b></font></td>
							<td ><font size=1><a ng-href="tel: {{x.Phone}} ">{{ x.Phone }}</a></font></td>							
						</tr>
					</tbody>
				</table>
			</center>
			</div>
		</div>
	<br/></br/>
	
	
	
	
	
	
	
	</div>
  </ion-content>
</ion-view>
