
<ion-view title="Convention Volunteer Team">
<ion-content class="padding">
<div ng-app="myApp" ng-controller="CoCtrl">
   
  
   <div>
	<div class="list">
        <div class="item item-input item-select">
            <div class="input-label">
                <b>Budget and Finance</b>
            </div>
            <select>	
				<option>Name</option>
                <option>Piyush Ghelani</option>
                <option>Jaysukh Sabhaya</option>
                <option>Sanjay Malani</option>
			
            </select>			
        </div>
    </div>
	
	<div class="list">
        <div class="item item-input item-select">
            <div class="input-label">
                <b>Public Relations</b>
            </div>
            <select>
				<option>Name</option>
                <option>Jasmat Sutaria</option>
                <option>Piyush Ghelani</option>
                <option>Sanjay Malani </option>
            </select>
        </div>
    </div>
	
	<div class="list">
        <div class="item item-input item-select drop_down">
            <div class="input-label">
                <b>Sponsorship, Advertising</b>
				
            </div>			
            <select>
				<option>Name</option>
                <option>Dhirubhai Babaria</option>
                <option>Haresh Bhungalia</option>
                <option>Jasmat Sutaria </option>
            </select>
        </div>
    </div>
	
	
	<div class="list">
        <div class="item item-input item-select">
            <div class="input-label">
                <b>Program Development& Entertainment	</b>			
            </div>			
            <select>
				<option>Name</option>
                <option>Kavita Sutaria</option>
                <option>Kiran Patel</option>
                <option>Piyush Ghelani</option>
            </select>
        </div>
    </div>
	
	<div class="list">
        <div class="item item-input item-select">
            <div class="input-label">
                <b>Kids Program</b>			
            </div>			
            <select>
				<option>Name</option>
                <option>Kiran Patel </option>
                <option>Kavita Sutaria</option>
            </select>
        </div>
    </div>
	
	<div class="list">
        <div class="item item-input item-select">
            <div class="input-label">
                <b>Registration/Website</b>			
            </div>			
            <select>
				<option>Name</option>
                <option>Bharat Sutaria</option>
                <option>Vishal Rajpara</option>
                <option>Vishnu Patel</option>
            </select>
        </div>
    </div>
	
	<div class="list">
        <div class="item item-input item-select">
            <div class="input-label">
                <b>Audio/Video& Photography</b>			
            </div>			
            <select>
				<option>Name</option>
                <option>Prashant Gajera</option>
                <option>Ghanshyam Babaria</option>
                <option>Piyush Ghelani</option>
            </select>
        </div>
    </div>
	
	<div class="list">
        <div class="item item-input item-select">
            <div class="input-label">
                <b>Decoration& Stage</b>			
            </div>			
            <select>
				<option>Name</option>
                <option>Ramesh Kakadiya</option>
                <option>Rita Sutaria</option>
            </select>
        </div>
    </div>
	
	<div class="list">
        <div class="item item-input item-select">
            <div class="input-label">
                <b>Directory& Souvenir</b>			
            </div>			
            <select>
				<option>Name</option>
                <option>Bharat Gajera</option>
                <option>Bharat Sutaria</option>
            </select>
        </div>
    </div>
	
	<div class="list">
        <div class="item item-input item-select">
            <div class="input-label">
                <b>Facility& Safety</b>			
            </div>			
            <select>
				<option>Name</option>
                <option>Prashant Gajera</option>
                <option>Jaysukh Hirapara</option>
				  <option>Arvind Patel</option>
            </select>
        </div>
    </div>
	
	<div class="list">
        <div class="item item-input item-select">
            <div class="input-label">
                <b>Food& Cleaning Services</b>			
            </div>			
            <select>
				<option>Name</option>
                <option>Jayesh Babaria</option>
                <option>Hitesh Gondaliya</option>
				  <option>Vipul Diora</option>
				 <option>Rita Sutaria</option> 
            </select>
        </div>
    </div>
	
	<div class="list">
        <div class="item item-input item-select">
            <div class="input-label">
                <b>Health& Emergency</b>			
            </div>			
            <select>
				<option>Name</option>
                <option>Dr. Dhaval Satani</option>
                <option>Dr. Rajiv Amipara</option>				
            </select>
        </div>
    </div>
	
	<div class="list">
        <div class="item item-input item-select">
            <div class="input-label">
                <b>Hospitality and Guest Services</b>			
            </div>			
            <select>
				<option>Name</option>
                <option>Dhwanish Italia</option>
                <option>Mukesh Babaria</option>				 
            </select>
        </div>
    </div>
	
	<div class="list">
        <div class="item item-input item-select">
            <div class="input-label">
                <b>Transportation</b>			
            </div>			
            <select>
				<option>Name</option>
                <option>Prashant Gajera</option>
                <option>Ghanshyam Kakadia</option>			
            </select>
        </div>
    </div>
	
	<div class="list">
        <div class="item item-input item-select">
            <div class="input-label">
                <b>Senior Citizens</b>			
            </div>			
            <select>
				<option>Name</option>
                <option>Ashokbhai Rupani </option>
             
            </select>
        </div>
    </div>
	
	<div class="list">
        <div class="item item-input item-select">
            <div class="input-label">
                <b>Youth Forum</b>			
            </div>			
            <select>
				<option>Name</option>
                <option>Avni Kakadia</option>
                <option>Nilam Gajera</option>
				<option>Khushi Sutaria</option>	
				<option>Frank Patel</option>	
				<option>Ajay Babaria</option>
				<option>Rajan Babaria</option>	
            </select>
        </div>
    </div>
	
	<div class="list">
        <div class="item item-input item-select">
            <div class="input-label">
                <b>Women’s Forum</b>			
            </div>			
            <select>
				<option>Name</option>
                <option>Kavita Sutaria</option>
                <option>Kiran Patel</option>		
				<option>Hansa Gadhia</option>					
            </select>
        </div>
    </div>
</div>
</div>
  </ion-content>
</ion-view>
