<ion-view title="Committees and Volunteers">
<ion-content class="padding" >

<div>
<div class="row">
  <div class="col col-33"><img class="about_img" src="img/c_1.jpg"></div>
  <div class="col col-33"><img class="about_img" src="img/c_2.jpg"></div>
  <div class="col col-33"><img class="about_img" src="img/c_3.png"></div>
</div>
</div>

<div class="card">
  <div class="item item-divider">
  <center><b><font color="blue" size=2> Convention Chair:</font><br/><font size=2> Jasmat Sutaria-jasmat@svtronics.com</font></b></center>
  </div>  
  
  <div class="item item-divider">
   <center><b><font color="blue" size=2>Co-Chair:</font> <br/><font size=2>DJ Babaria-babaria.dj@gmail.com</font></b></center>
  </div>
</div>

  <div class="list card">
	<a href="#tab/c_steering_team" class="item">   
		<font size=2><b>Convention Steering Committee </b></font>
	</a>
	<a href="#tab/c_advisory_team" class="item">   
		<font size=2><b>Convention Advisory Committee</b></font>
	</a>
	<a href="#tab/c_chapter_team" class="item">   
	<font size=2><b>Convention Chapters Coordinators</b></font>
	</a>
	<a href="#tab/c_volunteer_team" class="item">  
	<font size=2><b>Convention Volunteer Teams</b></font>
	</a>
</div>

  </ion-content>
</ion-view>
