<ion-view title="Committees and Volunteers">
<ion-content class="padding" >

<div>
<div class="row">
  <div class="col col-33"><img class="about_img" src="img/c_1.jpg"></div>
  <div class="col col-33"><img class="about_img" src="img/c_2.jpg"></div>
  <div class="col col-33"><img class="about_img" src="img/c_3.png"></div>
</div>
</div>

<div class="card">
  <div class="item item-divider">
  <center><b><font color="blue"> Convention Chair:</font> Jasmat Sutaria-jasmat@svtronics.com</b></center>
  </div>  
  <div class="item item-divider">
   <center><b><font color="blue">Co-Chair:</font> DJ Babaria-babaria.dj@gmail.com</b></center>
  </div>
</div>

  <div class="list card">
	<a href="#tab/c_steering_team" class="item item-icon-left">   
		<b>Convention Steering Committee </b>
	</a>
	<a href="#tab/c_advisory_team" class="item item-icon-left">   
		<b>Convention Advisory Committee</b>
	</a>
	<a href="#tab/c_chapter_team" class="item item-icon-left">   
		<b>Convention Chapters Coordinators</b>
	</a>
	<a href="#tab/c_volunteer_team" class="item item-icon-left">  
		<b>Convention Volunteer Teams</b>
	</a>
</div>

  </ion-content>
</ion-view>
