<ion-view title="hellooo">
<ion-content class="padding">
   <div ng-app="myApp" ng-controller="DashCtrl">
<table>  
  <tr ng-repeat="x in names">
    <td>{{ x.Activity }}</td>
    <td>{{ x.Event }}</td>
  </tr>
</table> 
</div>
	   .............
	   <div class="row sch_title">			
			
				<div class="col col-25"><font size="3"><center><b>Date</b></center></font></div>
				<div class="col col-25"><font size="3"><center><b>Daytime</b></center></font></div>
				<div class="col col-25"><font size="3"><center><b>Evening</b></center></font></div>
				<div class="col col-25"><font size="3"><center><b>Evening</b></center></font></div>
			
		</div>
		<div class="row sch">		
		
				<div class="col col-25"><center><b>Thrusday,July 2</b></center></div>
				<div class="col col-25"><center><b>-</b></center></div>
				<div class="col col-25"><center><b>Early Registration & Hasya Darbar</b></center></div>
				<div class="col col-25"><center><b>Ice Breaker</b></center></div>
			
		</div>
		<div class="row sch">		
			
				<div class="col col-25"><center><b>Friday,July 3</b></center></div>
				<div class="col col-25"><center><b>Registration & Opening Ceremony</b></center></div>
				<div class="col col-25"><center><b>Kathiyawadi Dayro</b></center></div>
				<div class="col col-25"><center><b>Youth Entertainment</b></center></div>
			
		</div>
		<div class="row sch">		
			
				<div class="col col-25"><center><b>Saturday,July 4</b></center></div>
				<div class="col col-25"><center><b>Outing, Cultural Program & Inspirational Speeches</b></center></div>
				<div class="col col-50"><center><b>Ras-Garaba</b></center></div>
			
		</div>
		<div class="row sch">
				<div class="col col-25"><center><b>Sunday,July 5</b></center></div>
				<div class="col col-75"><center><b>Cultural Program & Closing Ceremony 11AM to 12PM</b></center></div>
		</div>
	   ................
......................
<table>
	<thead><strong>Convention Steering Committee</strong></thead>
	<tbody>
		<tr ng-repeat="x in names">
			<td>{{ x.Name }}</td>
			<td>{{ x.Email }}</td>
		</tr>
  </tbody>
</table>
......................controller........
.controller('AccountCtrl', function($scope, $http) {
   $http.get("http://www.techroversolutions.com/Ionic_Mayu/fetch_member.php")
   .success(function (response) {$scope.names = response.records;});
})
....................



  </ion-content>
</ion-view>
