<ion-view title="Latest News">
<ion-content class="padding">

	<div class="card">
		<div class="item item-text-wrap">
				<a href="http://www.spcsusa.org/2015/texas/convention/welcome">July 2015 Registration Is Now open, Click on this Click</a>
		</div>
	</div>
	
	<div class="card">
		<div class="item item-text-wrap">
				<a href="http://www.spcsusa.org/images/SPCS-Life-Membership-fillable-form.pdf">Apply For SPCS Life Membership for Convention Discount</a>
		</div>
	</div>

  </ion-content>
</ion-view>
