<ion-view title="Travelling Information">
<ion-content class="padding">
   <div ng-app="myApp" ng-controller="DashCtrl">
   
   <h4><center><b>1 - Airways Information</b></center></h4>
	<div class="row">
		<div class="col col-33"><img class="about_img" src="img/tra_1.jpg"></div>
		<div class="col col-33"><img class="about_img" src="img/tra_2.jpg"></div>
		<div class="col col-33"><img class="about_img" src="img/tra_3.png"></div>		
	</div>	
	<div class="card">
		<div class="item item-text-wrap history_color">
		<b>Dallas/Fort Worth International Airport</b> (IATA: <b>DFW</b>, ICAO: <b>KDFW</b>, FAA LID: <b>DFW</b>) is the primary international airport serving the Dallas–Fort Worth metroplex in the U.S. state of Texas. It is the largest hub for American Airlines, which is headquartered near the airport.
		</div>
	</div>
	
	<h4><center><b>2 - Car Rental</b></center></h4>
	<center><b><font color="dark orange">Car Rental Special Rate for SPCS 2015 Convention from July 2-5, 2015</font></b></center>
	<div class="row">
		<div class="col col-33"><img class="about_img" src="img/car1.jpg"></div>
		<div class="col col-33"><img class="about_img" src="img/car2.jpg"></div>
		<div class="col col-33"><img class="about_img" src="img/car2.jpg"></div>		
	</div>
	
	<div class="card">
		<div class="item item-text-wrap history_color">
		<b>Hertz Car Rental:
			<a href="#" onclick="window.open('https://www.hertz.com/rentacar/reservation/', '_system');">		
				www.hertz.com</a></b><br/>
		  Special Discount code: CV#022Q7383<br/><br/>
		<b>Enterprise Car Rental:
			<a href="#" onclick="window.open('http://www.enterprise.com/car_rental/home.do', '_system');">		
				www.enterprise.com</a></b><br/>
		 Special discount Code: EHSB09A  
		</div>
	</div>
	
	<h4><center><b>3 - Shuttle Services</b></center></h4>	
	<center><b><font color="dark orange">Shuttle Services from DFW to Frisco Convention Center</font></b>	</center>
	<div class="row">
		<div class="col col-33"><img class="about_img" src="img/s_1.jpg"></div>
		<div class="col col-33"><img class="about_img" src="img/s_2.gif"></div>
		<div class="col col-33"><img class="about_img" src="img/s_3.png"></div>		
	</div>
	<div class="card">
		<div class="item item-text-wrap history_color">
			Purchase your Discounted Web-Tickets using this portal
			which reflects a $6.00 discount one way or $12.00 roundtrip (first person) or
			Purchase a Exclusive (Private non-stop) Van service for up to 10 passengers &
			Save $120.00 roundtrip.
		</div>
	</div>
<br/><br/>
	</div>
  </ion-content>
</ion-view>
