<ion-view title="About Dallas">
<ion-content class="padding">
   <div ng-app="myApp">
   
   <div class="row">
		<div class="col col-33"><img class="about_img" src="img/city_.jpg"></div>
		<div class="col col-33"><img class="about_img" src="img/city_2.jpg"></div>
		<div class="col col-33"><img class="about_img" src="img/city_3.jpg"></div>		
	</div>	
	
	<div class="card">
		<div class="item item-text-wrap history_color">
		Dallas is the ninth-largest city and part of the fourth-largest metropolitan area in the nation; Dallas covers approximately 343 square miles and has a population of 1,240,499.
		The ultra-modern and sophisticated city attracts worldwide travelers, making it the No. 1 visitor and leisure destination in Texas. Once here, visitors can ride one of the fastest-growing light rail systems in the nation or the historic, free McKinney Avenue Trolley from the Dallas Arts District throughout the Uptown area with its restaurants, pubs, boutique hotels and shops. Throughout the city, a visitor will enjoy the best shopping in the southwest, upscale hotels and restaurants, the largest urban arts district in the nation, 13 entertainment districts and much more. 
		Blend in moderate weather, year-round sports and true Southern hospitality for a true "taste" of the Dallas difference.
		Visitors are exposed to a city that models its slogan, "Live large. Think big. ™" Dallas is also a leading business and meeting city. Dallas/Fort Worth is ranked fifth among metropolitan areas for Fortune  500 companies.
		</div>
	</div>
	<!--
	<ion-list>
	   <div class="card">
            <ion-item>
                <div class="video-container">
                   <iframe width="560" height="315" src="https://www.youtube.com/embed/yrhJsJPfOLg" frameborder="0" allowfullscreen>
				   </iframe>
					
					
                </div>
            </ion-item>
        </div>
	<ion-list>
	-->
	

	</div>
  </ion-content>
</ion-view>
