	<ion-view title="How to reach">
<ion-content class="padding">	
 <div ng-app="myApp" ng-controller="DashCtrl">
<div>
	<div class="list">
		<a class="item item-icon-left" href="#tab/venue">
			<i class="icon ion-navigate"></i>
				Venue
		</a>
		<!--<a class="item item-icon-left" href="#">
			<i class="icon ion-earth"></i>
				Direction MAp
		</a>-->
		<!--<a class="item item-icon-left" href="#tab/r_map">
			<i class="icon ion-android-map"></i>
				Live Google Map
		</a>-->
		<a class="item item-icon-left" href="#tab/r_airways">
			<i class="icon ion-plane"></i>
				Travelling Information
		</a>
		<a class="item item-icon-left" href="#tab/r_city_guide">
			<i class="icon ion-android-locate"></i>
				City Guide
		</a>
	</div>
	</div>
</ion-content>
</ion-view>