<ion-view title="">
<ion-content class="padding">  


<div class="card">
  <div class="item item-text-wrap h_color">
	<center><a href="#" onclick="window.open('http://www.spcsusa.org/2015/texas/convention/allregistration', '_system');">Click Here For Online Registration</a></center>
  </div>
</div> 

<h4><center><font color="#0095bd" size=2><b>Quick Links :</b></font></center></h4>

	<center><a href="#" onclick="window.open('http://www.spcsusa.org/admincp_convention_texas/login', '_system');">Registration Volunteer Login</a></center>
    <center><a href="#" onclick="window.open('http://www.spcsusa.org/volunteer_list', '_system');">Committee & Volunteer List</a></center>
    <center><a href="#" onclick="window.open('http://www.spcsusa.org/2015_texas/sponsor_list', '_system');">Sponsor List</a></center>
    <center><a href="#" onclick="window.open('http://www.spcsusa.org/schedule_list', '_system');">Schedule</a></center>
    <center><a href="#" onclick="window.open('http://www.spcsusa.org/2015/texas/sponsor/sponsorregistration', '_system');">Sponsorship Payment</a></center>
  
</div> 
  
  </ion-content>
</ion-view>
