<ion-view title="Entertainment & Program Guide">
<ion-content class="padding">
	<h4><b><center>Entertainment</center></b></h4>
	No convention would be complete without great entertainment or motivational and inspiration speakers.  We are excited to announce that the we have confirm with some of the famous entertainment group from India to come over and add their colors to 7th SPCS International Convention.
	
	<div class="row">
		<div class="col col-33"><img class="about_img" src="img/p_sch_1.jpg"></div>
		<div class="col col-33"><img class="about_img" src="img/p_sch_2.png"></div>
		<div class="col col-33"><img class="about_img" src="img/p_sch_3.jpg"></div>
	</div>
	<h4><b><center>Program Guide</center></b></h4>
		
		<div class="row sch_title">			
			
				<div class="col col-25"><font size="3"><center><b>Date</b></center></font></div>
				<div class="col col-25"><font size="3"><center><b>Daytime</b></center></font></div>
				<div class="col col-25"><font size="3"><center><b>Evening</b></center></font></div>
				<div class="col col-25"><font size="3"><center><b>Evening</b></center></font></div>
			
		</div>
		<div class="row sch">		
		
				<div class="col col-25"><center><b>Thrusday,July 2</b></center></div>
				<div class="col col-25"><center><b>-</b></center></div>
				<div class="col col-25"><center><b>Early Registration & Hasya Darbar</b></center></div>
				<div class="col col-25"><center><b>Ice Breaker</b></center></div>
			
		</div>
		<div class="row sch">		
			
				<div class="col col-25"><center><b>Friday,July 3</b></center></div>
				<div class="col col-25"><center><b>Registration & Opening Ceremony</b></center></div>
				<div class="col col-25"><center><b>Kathiyawadi Dayro</b></center></div>
				<div class="col col-25"><center><b>Youth Entertainment</b></center></div>
			
		</div>
		<div class="row sch">		
			
				<div class="col col-25"><center><b>Saturday,July 4</b></center></div>
				<div class="col col-25"><center><b>Outing, Cultural Program & Inspirational Speeches</b></center></div>
				<div class="col col-50"><center><b>Ras-Garaba</b></center></div>
			
		</div>
		<div class="row sch">
				<div class="col col-25"><center><b>Sunday,July 5</b></center></div>
				<div class="col col-75"><center><b>Cultural Program & Closing Ceremony 11AM to 12PM</b></center></div>
		</div>
  
	
	
	</ion-content>
</ion-view>
