<ion-view title="Entertainment & Program Guide">
<ion-content class="padding">
	<div class="card">
	<div class="item item-text-wrap history_color">
	<center><font color="#000">No convention would be complete without great entertainment or motivational and inspiration speakers.  We are excited to announce that the we have confirm with some of the famous entertainment group from India to come over and add their colors to 7th SPCS International Convention.
	</font></center>
	</div></div>
	<div class="row">
		<div class="col col-33"><img class="about_img" src="img/p_sch_1.jpg"></div>
		<div class="col col-33"><img class="about_img" src="img/p_sch_2.png"></div>
		<div class="col col-33"><img class="about_img" src="img/p_sch_3.jpg"></div>
	</div>
	<h4><b><center>Program Schedule :</center></b></h4>
	
		<div class="card">
			<div class="item item-text-wrap history_color">
			 <center><b><font color="red">Thrusday, 2 July 2015</font></b></center>
			</div>
			<div class="row sch">		
				<div class="col"><center><b><font color="#0095bd">Daytime :</font> None</b></center></div>			
			</div>
			<div class="row sch">		
				<div class="col"><center><b><font color="#0095bd">Evening (Traditional) :</font> Early Registration & Hasya Darbar</b></center></div>			
			</div>
			<div class="row sch">		
				<div class="col"><center><b><font color="#0095bd">Evening (Youth) :</font> Ice Breaker</b></center></div>			
			</div>
		</div>
		
		<div class="card">
			<div class="item item-text-wrap history_color">
			 <center><b><font color="red">Friday, 3 July 2015</font></b></center>
			</div>
			<div class="row sch">		
				<div class="col"><center><b><font color="#0095bd">Daytime :</font> Registration & Opening Ceremony</b></center></div>			
			</div>
			<div class="row sch">		
				<div class="col"><center><b><font color="#0095bd">Evening (Traditional) :</font> Kathiyawadi Dayro</b></center></div>			
			</div>
			<div class="row sch">		
				<div class="col"><center><b><font color="#0095bd">Evening (Youth) :</font> Youth Entertainment</b></center></div>			
			</div>
		</div>
		
		<div class="card">
			<div class="item item-text-wrap history_color">
			 <center><b><font color="red">Saturday, 4 July 2015</font></b></center>
			</div>
			<div class="row sch">		
				<div class="col"><center><b><font color="#0095bd">Daytime :</font>Outing, Cultural Program & Inspirational Speeches</b></center></div>			
			</div>
			<div class="row sch">		
				<div class="col"><center><b><font color="#0095bd">Evening (Traditional) & (Youth) :</font> Ras-Garaba</b></center></div>			
			</div>
			
			
		</div>
		
		<div class="card">
			<div class="item item-text-wrap history_color">
			 <center><b><font color="red">Sunday, 5 July 2015</font></b></center>
			</div>
			<div class="row sch">		
				<div class="col"><center><b><font color="#0095bd">Cultural Program & Closing Ceremony 11AM to 12PM</font></b></center></div>			
			</div>
			
		</div>
		
		
		
		
		
  
	
	
	</ion-content>
</ion-view>
