<ion-view view-title="Share">
  <ion-content class="padding">
   <div ng-app="myApp"  ng-controller="MailCtrl">  
		
		<button class="button button-full icon-left ion-share" ng-click="shareAnywhere()">
			Share Anywhere
		</button>	
		
		 <button class="button button-full icon-left ion-social-whatsapp"
		  ng-click="shareViaWhatsApp('Welcome to Convention. Click Here for download SPCS App', null, 'https://play.google.com/store/apps/details?id=com.ionicframework.spcsmayu334368')">
			Share on WhatsApp</button>		
		
		 <button class="button button-full icon-left ion-social-twitter" 
		 ng-click="shareViaTwitter('Welcome to Convention. Click Here for download SPCS App', null, 'https://play.google.com/store/apps/details?id=com.ionicframework.spcsmayu334368')">
		 Share on Twitter</button>
		 
		  <button class="button button-full icon-left ion-social-facebook" 
		 ng-click="shareViaFacebook('Welcome to Convention. Click Here for download SPCS App', null, 'https://play.google.com/store/apps/details?id=com.ionicframework.spcsmayu334368')">
		 Share on Facebook</button>
	

   </div>
  

  </ion-content>
</ion-view>
