<ion-view title="Details">                
         <ion-content>
            <ion-slide-box ng-controller="DetailCtrl" pager-click="navSlide(index)" auto-play="true" does-continue="true">
                <ion-slide>
                    <img style="width: 100%" src="img/s1.jpg">
                </ion-slide>
                <ion-slide>
                    <img style="width: 100%" src="img/s2.jpg">
                </ion-slide>
                <ion-slide>
                    <img style="width: 100%" src="img/s3.jpg">
                </ion-slide>
            </ion-slide-box>
        </ion-content>
              
            
</ion-view>
