
<ion-view class="pane" title="Home">
 
  <ion-content class="padding">
   <div ng-app="myApp" ng-controller="DashCtrl">

<div class="row">
  <div class="col col-33"><a href="#tab/about"><img class="res_img" src="img/about.png"></a><center><b>About SPCS</b></center></div>
  <div class="col col-33"><a href="#tab/schedule"><img class="res_img" src="img/program.png"></a><center><b>Program Schedule</b></center></div>
  <div class="col col-33"><a href="http://www.spcsusa.org/2015/texas/convention/allregistration"><img class="res_img" src="img/regi.png"></a><center><b>Online Registration</b></center></div>
</div>

<div class="row">
  <div class="col col-33"><a href="#tab/activity"><img class="res_img" src="img/event.png"></a><center><b>Activity</b></center></div>
  <div class="col col-33"><img class="res_img" src="img/spcs.png"><center><b>spcs 2015</b></center></div>
  <div class="col col-33"><img class="res_img" src="img/partner.png"><center><b>Event Partners</b></center></div>
</div>

<div class="row">
  <div class="col col-33"><img class="res_img" src="img/newz.png"><center><b>Latest News</b></center></div>
  <div class="col col-33"><a href="#tab/gallery"><img class="res_img" src="img/gal.png"></a><center><b>Gallery</b></center></div>
  <div class="col col-33"><a href="#tab/reach"><img class="res_img" src="img/reach.png"></a><center><b>How to reach</b></center></div>
</div>
</div>

 <!--<table>  
  <tr ng-repeat="x in names">
    <td>{{ x.Activity }}</td>
    <td>{{ x.Event }}</td>
  </tr>
</table> -->

	   
  </ion-content>
</ion-view>
