<ion-view view-title="Share">
  <ion-content class="padding">
   <div ng-app="myApp"  ng-controller="MailCtrl">  
		
		<button class="button button-full icon-left ion-share" ng-click="shareAnywhere()">
			Share Anywhere
		</button>	
		
		 <button class="button button-full icon-left ion-social-whatsapp"
		  ng-click="shareViaWhatsApp('Welcome to Convention. Click Here for download SPCS App', null, 'https://play.google.com/store/apps/details?id=com.ionicframework.spcsmayu334368')">
			Share on WhatsApp</button>		
		
	

   </div>
   
	<!--<div class="list">
		<a class="item item-icon-left" href="#">
			<i class="icon ion-social-facebook"></i>
				Facebook
		</a>
		<a class="item item-icon-left " href="#">
			<i class="icon ion-social-whatsapp"></i>
				WhatsApp
		</a>
		<div  ng-controller="Main">
		<a class="item item-icon-left " href="#">
			<i class="icon ion-email"></i>
				Mail
		</a>
		</div>
		<a class="item item-icon-left " href="#">
			<i class="icon ion-social-twitter"></i>
				Twitter
		</a>
	</div>-->

  </ion-content>
</ion-view>
