
<ion-view class="pane" title="Home">
<ion-nav-title class="text"><font size=4>Welcome To SPCS</font></ion-nav-title>
	<!--<ion-nav-title>
      <img src="img/spcs.gif" width="auto" height="43"> <ce
    </ion-nav-title>-->
  <ion-content class="padding" >
   <div ng-app="myApp">

<div class="row">
  <div class="col col-33"><a href="#tab/about"><img class="res_img" src="img/spcs (2).png"></a><center><b><p><font size=2 color="#52414f">SPCS History</font></p></b></center></div>
  <div class="col col-33"><a href="#tab/schedule"><img class="res_img" src="img/schedule.png"></a><center><b><p><font size=2 color="#52414f">Program Schedule</font></p></b></center></div>
   <div class="col col-33"><a href="#tab/committe"><img class="res_img" src="img/partner (2).png"></a><center><b><p><font size=2 color="#52414f">Committee Member</font></p></b></center></div>
</div>

<div class="row">
  <div class="col col-33"><a href="#tab/activity"><img class="res_img" src="img/event (2).png"></a><center><b><p><font size=2 color="#52414f">Activity</font></p></b></center></div>
  <div class="col col-33"><a href="#tab/texas_spcs"><img class="res_img" src="img/asmita.png"></a><center><b><p><font size=2 color="#52414f">Texas 2015</font></p></b></center></div>
  <div class="col col-33"><a href="#tab/sponsor"><img class="res_img" src="img/spo.png"></a><center><b><p><font size=2 color="#52414f">Our Sponsors</font></p></b></center></div>
</div>

<div class="row">
   <div class="col col-33"><a href="#tab/reach"><img class="res_img" src="img/findus.png"></a><center><b><p><font size=2 color="#52414f">How to reach</font></p></b></center></div>
   <div class="col col-33"><a href="#tab/regi"><img class="res_img" src="img/registration.png"></a><center><b><p><font size=2 color="#52414f">Registration</font></p></b></center></div>
   <div class="col col-33"><a href="#tab/news"><img class="res_img" src="img/news.png"></a><center><b><p><font size=2 color="#52414f">Latest News</font></p></b></center></div>
  
</div>
</div>

 <!--<table>  
  <tr ng-repeat="x in names">
    <td>{{ x.Activity }}</td>
    <td>{{ x.Event }}</td>
  </tr>
</table> -->

	   
  </ion-content>
</ion-view>
