
<ion-view view-title="Welcome to SPCS">
  <ion-content class="padding"> 
		
  
  <!--check only this go to website link its working on ipnone or not....... -->
	<div class="card">
		<div class="item item-text-wrap h_color">
		<!--<center><a href="#" onclick="window.open('http://www.spcsusa.org/2015/texas/convention/welcome.html', '_system');"><font size=2><b>Go To Our Website</font></b></a></center>
		-->
	<center><a href="#" onclick="window.open('http://www.spcsusa.org/2015/texas/convention/welcome.html', '_blank');">
		<font size=2><b>Go To Our Website</font></b></a></center>
			
		</div>
	</div>
	
	<h4><center><font color="#0095bd" size=3><b>Quick Links :</b></font></center></h4>

	<div class="card">
		<div class="item item-text-wrap h_color">
			<center><a href="#" onclick="window.open('http://www.spcsusa.org/admincp_convention_texas/login', '_system');"><font size=2><b>Registration Volunteer Login</b></font></a></center>
		</div>
	</div>
	
	
	<div class="card">
		<div class="item item-text-wrap h_color">
			<center><a href="#" onclick="window.open('http://www.spcsusa.org/volunteer_list', '_system');"><font size=2><b>Committee & Volunteer List</b></font></a></center>
		</div>
	</div>
 
	
	<div class="card">
		<div class="item item-text-wrap h_color">
			<center><a href="#" onclick="window.open('http://www.spcsusa.org/2015_texas/sponsor_list', '_system');"><font size=2><b>Sponsor List</b></font></a></center>
		</div>
	</div>
	
	
	<div class="card">
		<div class="item item-text-wrap h_color">
			<center><a href="#" onclick="window.open('http://www.spcsusa.org/schedule_list', '_system');"><font size=2><b>Schedule</b></font></a></center>
		</div>
	</div>
	
	
	<div class="card">
		<div class="item item-text-wrap h_color">
			<center><a href="#" onclick="window.open('http://www.spcsusa.org/2015/texas/sponsor/sponsorregistration', '_system');"><font size=2><b>Sponsorship Payment</b></font></a></center>
		</div>
	</div>
  </ion-content>
</ion-view>
