
<ion-tabs class="tabs-icon-top tabs-assertive">

  <ion-tab title="Home" icon-off="ion-ios-home" icon-on="ion-ios-home" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>
  
  <ion-tab title="Website" icon-off="ion-ios-world" icon-on="ion-ios-world" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Share" icon-off="ion-android-open" icon-on="ion-android-open" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>
  
</ion-tabs>

