<ion-view title="Texas 2015">
<ion-content class="padding">	

 
	<a href="#tab/committe" class="item sch_title">   
		<font color="white" size=2><b>Click Here For Member Name List </b></font>
	</a>


<div>
<div class="row">
  <div class="col col-33"><img class="about_img" src="img/about_1.jpg"></div>
  <div class="col col-33"><img class="about_img" src="img/about_2.jpg"></div>
  <div class="col col-33"><img class="about_img" src="img/about_3.jpg"></div>
</div>
</div>
<div class="card">
  <div class="item item-text-wrap history_color">
<b><font size=2> <p>
	Dear Fellow SPCS Members and Families</br></br>
	On behalf of the entire Saurashtra Patel Cultural Samaj, The Texas Chapter invites you to the 7th International convention in Frisco, TX from July 3rd 2015 to July 5th 2015.<br/><br/>
	After the successful “EKTA” theme at the Atlanta convention, the Texas convention is hosting the theme of “ASMITA” of Saurashtra.  Speakers, entertainers and SPCS members will highlight our rich cultural heritage and pride while inspiring us to give back to community and our nation of origin, India.<br/><br/>
	Our convention steering committee, community leaders and volunteers have planned a variety of educational and business networking events, field trips, and inspirational speakers for all ages.  An immense amount of feedback was collected and analyzed from the Texas convention to provide a worthwhile experience. 
	<br/><br/>Frisco, Texas is a burgeoning suburb of the Dallas-Fort Worth area. It was the optimal choice in our convention because of the amenities, restaurants and entertainment in the area.  Our fellow Indians have settled in Frisco and call it home – some schools have over 80% Indian students!  The venue, hotels are area is a great, safe, and fun place to be.
	<br><br/>Currently, we are sending regular updates to BOT members and officers of all chapters to ensure our convention is organized properly.  Our team believes in strong and clear communication in order to execute a Texas-sized convention.  Below are some updates from our team. Online Registration has been booking very fast and 80% of the total capacity for Registration, Activity, and Hotels rooms have already  been booked. All the contracts with all the vendors have been finalized.
	<br/><br/>We look forward to seeing you at the convention in July.  Bring your kids, cousins, parents and friends to enjoy this Kathiyawadi Mehmaan-gati!
	<br/><br/>Sincerely,
	<br/>7th International Convention ASMITA Team.</font>
	
 </p>
</div>

</div> 
</ion-content>
</ion-view>
