<ion-view title="Venue and Hotel Info.">
  <ion-content class="padding">
   <div ng-app="myApp" ng-controller="DashCtrl">
   <center><h4><b>Venue :</b></h4></center>
    <center><h5><b>Frisco Convention Center</b></h5></center>
		<center><font color="red" size="2">7600 John Q, Hammons Drive, Frisco, Texas, 75034, USA</font></center>
		<center><font color="red" size="2"><b><a ng-href="tel: 1-972-712-7200 ">+1-972-712-7200</a></b></font></center><br/>
	<h4><b>Embassy Suite Frisco TX</b></h4>
		SPCS 7th International Convention is held in Frisco, TX beautiful northern suburb of Dallas Frisco Convention Center is attached to Embassy Suites Hotel at 7600 John Q. Hammons Drive, Frisco, Texas 75034. Hotel is conveniently located 2 miles North from Intersection of Dallas North Tollway and Sam RayBurn Tollway(TX121).Venue is 27 miles from Dallas-Fort Worth International Airport (DFW) and 26 miles from Dallas Love Field (DAL) Airport.
		<br/><br/>All-Suite Hotel has 330 suites to accommodate guests while also providing over 90000 sq ft meeting and events space. Main Ballroom is over 42,000 Sq Ft to accommodate over 2200 guests.
		<div class="row">
			<div class="col col-50"><img class="img" src="img/hotel_1.jpg"></div>
			<div class="col col-50"><img class="img" src="img/hotel_2.jpg"></div>			
		</div>		
	
	<center><h5><font color="red"><b>Hotel Booking : </b></font></h5></center>
	<h5><b>Embassy Suite Hotel Reservation :</b></h5>
		Frisco Convention is attached to Embassy Suites Hotel. SPCS  have reserved  75% of  rooms for discount rate from Thursday July 2nd, 2015 till Sunday July 5th, 2015 and first night's deposit will be due upon booking guest room and is non-refundable.
		<div class="row">
			<div class="col col-50"><img class="img" src="img/hotel_3.jpg"></div>
			<div class="col col-50"><img class="img" src="img/hotel_4.png"></div>			
		</div>
		
		<div class="row table_title">			
			<tr>
				<div class="col col-50"><b>Room Type</b></div>
				<div class="col col-50"><b>Rates</b></div>
			</tr>
		</div>
		<div class="row sch">		
			<tr>
				<div class="col col-50"><b>King Suites</b></div>
				<div class="col col-50"><b>$105.00</b></div>
			</tr>
		</div>
		<div class="row sch ">		
			<tr>
				<div class="col col-50"><b>Double suites</b></div>
				<div class="col col-50"><b>$125.00</b></div>
			</tr>
		</div><br/>
		<a href="#" onclick="window.open('https://aws.passkey.com/event/11652420/owner/62091/home', '_system');">
		<b>Click on this link for hotel booking at discounted rate for SPCS Convention guest.</b></a>
		<br/><font color="red" size="2"><b>This hotel has been sold out , please choose Cambria hotels &Suites for the accommodations.</b></font>
	 <br/><br/>
	 <h5><b>Cambria Hotels & Suites Reservation :</b></h5>
		This Hotel  is located about 5 minutes from Frisco Convention Centre and address is 7500 Parkwood Blvd. , Plano , TX, 75024. We have reserved  50 rooms for discount rate from Thursday July 2nd, 2015 till Sunday July 5th, 2015 and first night's deposit will be due upon booking guest room and is non-refundable. There will be free transportation available  from this hotel to a Convention Centre.
		Guests can call the hotel directly to front desk to make a reservations using code "SPCS 2015 Convention". Phone number for front desk is: 972-473-9010.
		<div class="row">
			<div class="col col-50"><img class="img" src="img/hotel_5.jpg"></div>
			<div class="col col-50"><img class="img" src="img/hotel_6.png"></div>			
		</div>
		<div class="row table_title">			
			<tr>
				<div class="col col-50"><b>Room Type</b></div>
				<div class="col col-50"><b>Rates</b></div>
			</tr>
		</div>
		<div class="row sch">		
			<tr>
				<div class="col col-50"><b>King Suites</b></div>
				<div class="col col-50"><b>$99.00</b></div>
			</tr>
		</div>
		<div class="row sch">		
			<tr>
				<div class="col col-50"><b>2 Queens</b></div>
				<div class="col col-50"><b>$99.00</b></div>
			</tr>
		</div>
		<font color="#0095bd"><b>"SPCS 2015 Convention". Phone number for front desk is: <a ng-href="tel: 972-473-9010 "> 972-473-9010 <a></b></font><br/>
 <br/>
		<h5><b>Fairfield Inn & Suites Reservation :</b></h5>	
		This Hotel  is located about 5 minutes from Frisco Convention Centre and address is 5909 Stone Creek drive, The Colony, Texas, 75056. We have reserved  15 rooms for discount rate from July 2nd till July 5th, 2015 and first night's deposit will be due upon booking guest room and is non-refundable. There will be free transportation available  from this hotel to a Convention Centre.Guests can book the hotel directly by clicking the link below with a discount Rate.
		<br/>
		<a href="#" onclick="window.open('http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Saurashtra%20Patel%20Cultural%20Samaj%20%28SPCS%29%5eDALTC%60SPCSPCA%6099.00%60USD%60false%607/2/15%607/5/15%6006/02/2015&app=resvlink&stop_mobi=yes', '_system');">
		<b>Click here for Reservation</b></a>
		<br/><font color="red" size="2"><b>This hotel has been sold out , please choose Cambria hotels &Suites for the accommodations.</b></font>
	 
		<div class="row">
			<div class="col col-50"><img class="img" src="img/hotel_7.png"></div>
			<div class="col col-50"><img class="img" src="img/hotel_8.png"></div>			
		</div>
		<div class="row table_title">			
			<tr>
				<div class="col col-50"><b>Room Type</b></div>
				<div class="col col-50"><b>Rates</b></div>
			</tr>
		</div>
		<div class="row sch">		
			<tr>
				<div class="col col-50"><b>King Suites</b></div>
				<div class="col col-50"><b>$99.00</b></div>
			</tr>
		</div>
		<div class="row sch">		
			<tr>
				<div class="col col-50"><b>2 Queens</b></div>
				<div class="col col-50"><b>$99.00</b></div>
			</tr>
			<br/><br/><br/>
		</div>
  
  </ion-content>
</ion-view>
